<ion-header>
	<ion-toolbar color="secondary">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Veiculo - FORD KA</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fixed>
	<div class="section">
		<div class="info-header-detalhes">
			<ion-grid class="ion-padding">
				<ion-row>
					<ion-col size="3">
						<div class="car-icon-circle">

						</div>
					</ion-col>
					<ion-col class="ion-padding-start" size="9">
						<ion-row class="info">
							<h4>10/02/2021 18:00</h4>
							<p>Rua tal, 23 - Nova Holanda</p>
						</ion-row>
						<ion-row>
							<ion-col>
								<div class="element">
									<ion-icon name="ios-power"></ion-icon>
									Desligado
								</div>
							</ion-col>
							<ion-col>
								<div class="element">
									<ion-icon name="md-battery-charging"></ion-icon>
									12v
								</div>
							</ion-col>
							<ion-col>
								<div class="element">
									<ion-icon name="ios-speedometer"></ion-icon>
									0 km/h
								</div>
							</ion-col>
						</ion-row>
						<ion-row>
							<div class="type">Carro</div>
						</ion-row>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
	</div>

	<div class="section">
		<ion-grid class="actions">
			<ion-row>
				<ion-col>
					<button>
						<div class="icon">
							<img src="../../assets/icon-hand.png">
						</div>
						<div class="label">COMANDOS</div>
						<ion-ripple-effect></ion-ripple-effect>
					</button>
				</ion-col>
				<ion-col>
					<button>
						<div class="icon">
							<img src="../../assets/icon-alerts.png">
						</div>
						<div class="label">NOTIFICAÇÃO</div>
						<ion-ripple-effect></ion-ripple-effect>
					</button>
				</ion-col>
				<ion-col>
					<button>
						<div class="icon">
							<img src="../../assets/icon-map.png">
						</div>
						<div class="label">MAPA</div>
						<ion-ripple-effect></ion-ripple-effect>
					</button>
				</ion-col>
				<ion-col>
					<button>
						<div class="icon">
							<img src="../../assets/icon-url.png">
						</div>
						<div class="label">LINK</div>
						<ion-ripple-effect></ion-ripple-effect>
					</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>

<div id="mapSection" class="section">
	<div id="map" class="map"></div>
</div>