<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div *ngIf="!send">
    <div class="header" padding>
      <span class="title">Recuperar senha</span>
      <span class="description">Informe seu e-mail cadastrado para que possamos prosseguir com a redefinição da sua
        senha.
      </span>
    </div>
    <ion-list lines="none">
      <ion-item>
        <ion-label position="stacked">Codigo:</ion-label>
        <ion-input type="number" [(ngModel)]="forgotForm.cod_cliente"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" >Email:</ion-label>
        <ion-input [(ngModel)]="forgotForm.email" type="email"></ion-input>
      </ion-item>
    </ion-list>
    <div padding-start padding-end>
      <ion-button color="secondary" expand="block" class="large" (click)="esqueciMinhaSenha()">
        Prosseguir
      </ion-button>
    </div>
  </div>
  <div class="send-container"  *ngIf="send">
    <div class="header" text-center padding>
      <img margin-bottom src="../../assets/Icon_email.png" alt="Icone E-mail" />
      <span class="title">EMAIL ENVIADO.</span>
      <span class="description">Sua senha foi redefinida e estamos enviando um e-mail para
        <strong>{{forgotForm.email}}</strong> para informa-los.
      </span>
    </div>
    <div padding-start padding-end>
      <ion-button color="secondary" expand="block" class="large" routerDirection="root" routerLink="/login">
        Finalizar
      </ion-button>
    </div>
  </div>

</ion-content>
<div class="desenvolvidoPor">
  <img src="../../assets/logo.png" alt="rastreei" />
</div>