:host {
  .item-interactive {
    --highlight-color-focused: transparent !important;
  }
  .item-interactive.ion-invalid{
   --highlight-background: transparent !important;
 }
 .item-interactive.ion-valid{
   --highlight-background: transparent !important;
 }
}

ion-item:first-child {
  border-bottom: 1px solid var(--ion-color-light); 
  margin-bottom: 10px;
}
ion-item {
  --padding-start: 0px;
  --padding-end: 0px;
}
ion-select {
  border: 1px solid var(--ion-color-light);
  margin-top: 10px;
  padding: 8px;
  border-radius: 4px;
}
ion-list {
  margin-top: -10px !important;
  margin-bottom: 0px !important;
}

.md {
  --ion-safe-area-top:10px;
}