<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Opção de movimento</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list lines="none">
    <ion-item class="ion-no-padding ion-no-margin">
      <ion-label color="medium" position="stacked">Movimento</ion-label>
      <ion-select [(ngModel)]="movimento" placeholder="Selecione">
        <ion-select-option *ngFor="let item of listOfMovimentos" [value]="item.cod_movimento">{{item.movimento}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer translucent="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="primary" (click)="Cancelar()">
        Cancelar
      </ion-button>
      <ion-button fill="clear" color="primary" (click)="Ok()">
        OK
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>