:host {
  .item-interactive {
    --highlight-color-focused: transparent !important;
  }
  .item-interactive.ion-invalid{
   --highlight-background: transparent !important;
 }
 .item-interactive.ion-valid{
   --highlight-background: transparent !important;
 }
}

ion-input {
  border: 1px solid var(--ion-color-light);
  border-radius: 4px;
  color: var(--ion-color-light);
  --padding-start: 15px !important;
  --padding-end: 15px !important;
  --padding-top: 10px !important;
  --padding-bottom: 10px !important;
}

ion-label {
  color: var(--ion-color-medium) !important;
}
ion-label.md {
  margin-bottom: 10px !important;
}
ion-list {
  margin-bottom: 32px !important;
}

ion-item:first-child {
  margin-bottom: 10px;
}

.header {
  img {
    margin-bottom: 30px;
  }
}
.send-container {
  margin-top: 20%;
}