ion-item {
  height: 37px !important;
}
ion-list-header {
  color: var(--ion-color-light);
  margin-top: 10px !important;
}
ion-radio {
  --color: var(--ion-color-primary);
  margin-right: 15px;
}

.md {
  --ion-safe-area-top:10px;
}