.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  img {
    width: 150px;
    margin-bottom: 20px;
  }
}
ion-list {
  margin-top: 20px !important;
}
ion-item {
  --background: #F1F9FF;
  margin-bottom: 10px;
  h3 {
    font-size: 14px !important;
    color: var(--ion-color-medium) !important;
  }
  p {
    font-size: 10px;
    color: var(--ion-color-light);
  }
}